.popup {
  display: flex;
  justify-content: center;

 &__title   {
    h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 48px;
      padding: 20px 55px;

    }

 }

 &__content {
  display: flex;
  flex-direction: column;
 }

 &__input {
   div {
   margin-bottom: 20px;
   }
 }

 &__btnClose {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  
 }

 &__btn {
   span {
     font-size: 16px;
   }

 }

}

