.header {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
    align-items: center;
    background: rgba(106, 128, 240, 0.93) 0%;
}

.nav {
    display: flex;
}

.header__logo {
    width: 490px;
    height: 70px;
    padding: 30px 0;
}

.nav__link {
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    margin-right: 25px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline; 
        color: #ffffff; 
    }
}


.button__logout {
    display: flex;
    align-items: center;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    margin-left: 50px ;
}

.button__logout__text {
    font-family: Montserrat;
    font-size: 24px;
}

