.room {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  &:last-child {
    border-bottom: 0;
  }
}

.info__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.room__title {
  margin-left: 80px;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.room__description {
  display: grid;
  justify-items: start;
  grid-gap: 5px;
  width: 500px;
  font-weight: bold;
  font-size: 24px;
  color: #0e0e0e;
  text-shadow: 0px 4px 25px rgb(0 0 0 / 25%);
}

.room__buttons {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  color: #f0e7e7;
  border-color: transparent;
  width: 150px;
  height: 70px;
  border-radius: 50px;
  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  &:hover {
    transition: 1s ease-in-out;
    background: #4400ff;
  }
}

.room__buttons__more {
  background: rgba(106, 128, 240, 0.93) 0%;
  margin-right: 10px;
}

.room__buttons__delete {
  background: #ad3f3f;
  &:hover {
    transition: 1s ease-in-out;
    background: #740000;
  }
}

.room__image {
  width: 350px;
  height: 250px;
}



@media screen and (max-width: 1080px) {
  .room__title {
    margin-left: 0;
    font-size: 24px;
    margin-bottom: 10px;
  }
 
  .room__image {
    display: none;
  }

  .room__description {
    font-size: 16px;
    width: 250px;
  }

  .room__buttons {
    width: 120px;
    height: 50px;
    font-size: 12px;
 }

  .room__buttons__more {
     margin-right: 0;
     margin-bottom: 5px;
  }

  .room__action__buttons {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .room__title {
    font-size: 18px;
  }
 
  .room__description {
    font-size: 12px;
    width: 200px;
  }
}

@media screen and (max-width: 380px) {
  .room__description {
    font-size: 8px;
    width: 100px;
  }

  .room__description {
    font-size: 8px;
    width: 100px;
    margin-left: 5px;
  }

  .room__title {
    margin-left: 0;
    font-size: 12px;
  }

  .room__buttons {
    width: 70px;
    height: 20px;
    font-size: 8px;
 }

 .info__block {
    justify-content: space-between;
    align-items: flex-start;

  }

}



