.footer {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(106, 128, 240, 0.93) 0%;
  color: #ffffff; 
}

.nav {
  display: flex;
  flex-direction: column;

  &__link {
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;

    &:hover {
        text-decoration: underline; 
        color: #ffffff; 
    }
  }
}

.social__links {
  margin-right: 30px;
  color: #ffffff; 
}

@media screen and (max-width: 320px) {
  .nav__link {
    font-size: 8px;
  }
  .footer__copyright{
    font-size: 8px;
  }

}