.popup {
  display: flex;
  justify-content: center;
  


 &__title   {
    h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 48px;
      display: flex;
      justify-content: center;

    }

  }

 &__content {
  display: flex;
  flex-direction: column;
 }

 &__btnClose {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  
 }

 &__btn {
   span {
     font-size: 16px;
   }

 }

 &__img {
   width: 40px;
   height: 40px;
   margin-right: 10px;
 }

 &__container__checkboxes {
   margin-top: 30px;
   display: flex;
   justify-content: space-around;

 }
 
 &__checkbox {
   span {
    display: flex;
    align-items: center; 
  }

  label {
    &:not(:last-child) {
      margin-bottom: 20px;
   }
  }
 }


 &__booking{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 20px;

  &__title {
    margin-right: 10px;
    font-weight: bold;
  }


  &__input {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
}



}

.room__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    &__title {
      font-size: 24px;
      font-weight: bold;
    }

    &__other {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

}

.event {
  margin-bottom: 20px;
}


