.popup {
  display: flex;
  justify-content: center;
  


 &__title   {
    h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 48px;
      display: flex;
      justify-content: center;

    }

 }

 &__content {
  display: flex;
  flex-direction: column;
 }

 &__btnClose {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  
 }

 &__btn {
   span {
     font-size: 16px;
   }

 }

 &__img {
   width: 40px;
   height: 40px;
   margin-right: 10px;
 }

 &__container__checkboxes {
   display: flex;
   justify-content: space-around;

 }
 
 &__checkbox {
   span {
    display: flex;
    align-items: center; 
  }

  label {
    &:not(:last-child) {
      margin-bottom: 20px;
   }
  }
 }

 &__guests {
  margin-bottom: 30px;

  input {
    border-color: black;

  }
}

 &__booking{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;

  &__title {
    margin-right: 10px;
    font-weight: bold;
  }

  &__input {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
  }

  &__time {
    display: flex;
    margin-top: 30px;
    &__end {
      margin-left: 50px;
    }
  }

}


}

.room__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    &__title {
      font-size: 24px;
      font-weight: bold;
    }

    &__other {
      font-size: 20px;
    }

}

.event {
  font-weight: bold;
  margin-bottom: 20px;
}


