.main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.button__add {
  display: flex;
  align-items: center;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  width: 250px;
  height: 70px;

  &:hover {
    transition: 1s ease-in-out;
    background: #013569;
  }
  &__text{
    font-family: Montserrat;
    font-size: 24px;
  }
}


.popup {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, .5);

  &__wrapper{
    position: relative;
    background: rgb(255, 255, 255);
    width: 800px;
    height: 800px;
  }
}

